@model QuizQuestionVM
<div class="container-fluid">
    <div id="bigwhite" class="col-md-8" style="margin:3%;float:right">

        <form asp-controller="Quiz" asp-action="Question" asp-route-questionId="@Model.QuestionId">

            <h3>@Model.CategoryTitle</h3>
            <h4>@Model.QuizUnitHeader</h4>
            <h5>@Model.QuestionText</h5>

            @if (TempData["WrongAnswer"] != null)
            {
                <p>@TempData["WrongAnswer"]</p>
            }

            @foreach (var answer in Model.Answers)
            {
                <div class="radio" data-toggle="radio">
                    <label><input type="radio" name="answer" value="@answer.AnswerId" />@answer.AnswerText</label>
                </div>
            }

            <button type="submit" value="Next" class="btn btn-default" onclick="Yay()">Next!</button>

        </form>

    </div>
    <!--HERE IS SIDEBOX-->
    <div class="col-md-3" id="sidebox">
        <div class="row" id="logobox" style="padding-top:10px">
            <img src="~/Images/LearnMVClogo.png" width="170" style="float:left" />
        </div>
        <!--GO TO MY PROFIL-->
        <div class="row" id="sidebarzItem" style="padding:5px; background-color:#ff28ce" onclick="GoToIndex()">
            <h4>
                My profile
            </h4>
        </div>
        <div>
            @Html.Partial("_Sidebar", Model.SidebarArray)
        </div>
    </div>
</div> <!--END ROW-->
