@model AddQuestionVM
<div class="container-fluid">
    <div id="bigwhite" class="col-md-8" style="margin:3%;float:right">
        <h3>Gör ett nytt quiz, Admin!</h3>
        <br />
        UNICORNS!
        <h2>Add Quiz Unit</h2>
        <form asp-controller="Admin" asp-action="AddQuestion">
            <label asp-for="QuestionText"></label>
            <textarea asp-for="QuestionText" class="bigTextBox" ></textarea>
            <span asp-validation-for="QuestionText"></span>
            <br />
            <br />
            <label asp-for="SelectedQuizUnitId"></label>
            <select asp-for="SelectedQuizUnitId" asp-items="@Model.PossibleQuizUnits"></select>
            <span asp-validation-for="SelectedQuizUnitId"></span>
            <br />
            <br />

            @for (int i = 0; i < Model.Answers.Length; i++)
            {
                <div class="radio" data-toggle="radio">
                    <label asp-for="@Model.Answers[i]"><input type="radio" name="correctAnswer" value="@i" /></label>
                    <input asp-for="@Model.Answers[i]" />
                    <span asp-validation-for="@Model.Answers"></span>
                </div>
                <br />
                <br />
            }

            <button type="submit" class="btn btn-default">Summon Unicorns!</button>
        </form>

    </div>
    <!--HERE IS SIDEBOX-->
    <div class="col-md-3" id="sidebox">
        <div class="row" id="logobox" style="padding-top:10px">
            <img src="~/Images/LearnMVClogo.png" width="170" style="float:left" />
        </div>
        <!--GO TO RESULTS-->
        <div class="row" id="sidebarzItemDone" style="padding:5px" onclick=GoToResult()>
            <h4>
                Das Resultat
            </h4>
        </div>
        <!--GO TO Create New Stuff-->
        <div class="row" id="sidebarzItemDone" style="padding:5px" onclick=GoToCreateNew(1)>
            <h4>
                Create Category
            </h4>
        </div>
        <!--GO TO Create QuizUnit-->
        <div class="row" id="sidebarzItemDone" style="padding:5px" onclick=GoToCreateNew(2)>
            <h4>
                Create Quizunit!
            </h4>
        </div>
        <!--GO TO Create Question-->
        <div class="row" id="sidebarzItemDone" style="padding:5px" onclick=GoToCreateNew(3)>
            <h4>
                Create Question!
            </h4>
        </div>
        <div>
            @*@Html.Partial("_Sidebar", Model.SidebarVMList)*@
        </div>
    </div> <!--END SIDEBAR-->
</div> <!--END ROW-->
