@{
    Layout = "_Admin_Layout";
}
@model EditQuizUnitVM

    <h3>Redigera quizet, Admin!</h3>
    <br />
    UNICORNS!
    <h2>Edit Quiz Unit</h2>
    <form asp-controller="Admin" asp-action="EditQuizUnit">
        <label asp-for="@Model.QuizUnitHeader"></label>
        <input asp-for="@Model.QuizUnitHeader" />
        <span asp-validation-for="@Model.QuizUnitHeader"></span>
        <br />
        <br />
        <label asp-for="@Model.QuizUnitContent"></label>
        <textarea class="bigTextBox" asp-for="@Model.QuizUnitContent"></textarea>
        <span asp-validation-for="@Model.QuizUnitContent"></span>
        <br />
        <br />
        <label asp-for="@Model.SelectedCategoryId"></label>
        <select asp-for="@Model.SelectedCategoryId" asp-items="@Model.Categories"></select>
        <span asp-validation-for="SelectedCategoryId"></span>

        <button type="submit">Summon Unicorns!</button>
    </form>
