@{
    Layout = "_Admin_Layout";
}

@model QuizOverviewVM


<h3>Välkommen Admin!</h3>
<br />

<div>
    <h3>Stats:</h3>
    <p>
        Number of categories: @Model.NumberOfCategories
        <br />Number of quiz units: @Model.NumberOfQuizUnits
        <br />Number of questions: @Model.NumberOfQuestions
    </p>
</div>



<h3>Overview:</h3>
<ul>
    @foreach (var category in Model.Categories)
            {
        <li>
            <a asp-controller="Admin" asp-action="EditCategory" asp-route-id="@category.CategoryId">@category.Title</a>
            <ul>
                @foreach (var quizUnit in category.QuizUnit)
                {
                    <li>
                        <a asp-controller="Admin" asp-action="EditQuizUnit" asp-route-id="@quizUnit.QuizUnitId">@quizUnit.InfoTextHeader</a>
                        <ul>
                            @foreach (var question in quizUnit.Question)
                            {
                                <li><a asp-controller="Admin" asp-action="EditQuestion" asp-route-id="@question.QuestionId">@question.QuestionText</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
</ul>

