@model SidebarVM[]
<div id="sidebarz">
    @foreach (var category in Model)
    {
        if (category.IsDone)
        {
            <div id="sidebarzItemDone" onclick="DoStuff(@category.CategoryID)">
                <span>KLAR!</span>
                <!--NEJ TILL ATT HA FUL LINK HÄR. SKA VARA ONCLICK.-->
                <a asp-controller="Quiz" asp-action="Text" asp-route-id="@category.CategoryID">@category.CategoryName</a>
                Namnet
                Extract
                Completed
            </div>
        }

        <div id="sidebarzItem" onclick="DoStuff(@category.CategoryID)">

            <a asp-controller="Quiz" asp-action="Text" asp-route-id="@category.CategoryID">@category.CategoryName</a>
            Namnet<br />
            Extract<br />
            Not completed
        </div>
    }
</div>