@model MembersIndexVM
<div class="container-fluid">
    <div id="bigwhite" class="col-md-8" style="margin:3%;float:right">
        <h3>Welcome @Model.UserName</h3>
        <br />

        @if (Model.HasPreviousProgress)
        {
            <div id="progressContent">
                <br />
                <h3>Latest progress:</h3>
                <br />
                <p><b>Category:</b> @Model.CategoryName</p>

                <p><b>Quiz-Unit:</b> @Model.QuizUnitName</p>

                <p><b>Question:</b> @Model.QuestionText</p>

                <button onclick="Continue(@Model.QuestionID)" class="btn btn-default">Continue</button>
                <button onclick="ResetProgress()" class="btn btn-default">Reset Progress</button>
            </div>
        }
        else
        {
            <div>
                Oooh! Ah Newbie! <br />
                Click on one of the categories in the menu to start your journey towards becoming an MVC Godess!
            </div>
        }

        <br /> <br />
        <button onclick="Logout()" class="btn btn-default">Log out</button>

    </div>
    <!--HERE IS SIDEBOX-->
<div class="col-md-3" id="sidebox">
    <div class="row" id="logobox" style="padding-top:10px">
        <img src="~/Images/LearnMVClogo.png" width="170" style="float:left" />
    </div>
    <div>
        @Html.Partial("_Sidebar", Model.SidebarVMList)
    </div>
</div>
</div> <!--END ROW-->
