@model MembersIndexVM
<div style="padding-top:2%">
    <img src="~/Images/LearnMVClogoWhite.png" width="170" style="float:left" />
    <div id="bigwhite" class="col-md-8" style="margin:3%;float:right">
        <h3>Välkommen @Model.UserName</h3>
        <br />

        @if (Model.HasPreviousProgress)
        {
            <div>
                <br />
                Progress:
                <br />
                <br />
                Category: @Model.CategoryName
                <br />
                Quiz-Unit: @Model.QuizUnitName
                <br />
                Question: @Model.QuestionText
                <br />


                <a asp-controller="Quiz" asp-action="Question" asp-route-id="@Model.QuestionID">Vill du fortsätta där du avslutade? Tryck här!</a>
            </div>
        }
        else
        {
            <div>
                Du verkar inte ha varit här förut. Tryck på en utav kategorierna till högeer för att dra igång!
            </div>
        }
    </div>
    <div class="col-md-4" id="smallwhite">
        @Html.Partial("_Sidebar", Model.SidebarVMList)
    </div>
</div> <!--END COLMD4-->
