@model MembersIndexVM

@*<div class="container-fluid">*@
    <div id="bigwhite" class="col-md-8" style="margin:3%;float:right">
        <h2>Welcome, @Model.UserName !</h2>
        <br />

        <div class="row" style="padding-top:100px;padding:10px">

            @if (Model.HasPreviousProgress)
            {
                <div id="progressContent" class="col-md-4">
                    <h3>Latest progress:</h3>
                    <br />
                    <p><b>Category:</b> @Model.CategoryName</p>

                    <p><b>Quiz-Unit:</b> @Model.QuizUnitName</p>

                    <p><b>Question:</b> @Model.QuestionText</p>

                    <button onclick="Continue(@Model.QuestionID)" class="btn btn-default">Continue</button>
                    <button onclick="ResetProgress()" class="btn btn-default">Reset Progress</button>
                </div>
            }
            else
            {
                <div class="col-md-4">
                    <h3>Oooh! Ah Newbie!</h3> 
                    <br /><br />
                    <p>Click on one of the categories in the menu to start your journey towards becoming an MVC Godess!</p>
                </div>
            }

            <!--CHART.JS KOMMER HÄR-->
            <div style="width: 600px;" class="col-md-8">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <br /> <br />

    </div>
    <!--HERE IS SIDEBOX-->
    <div class="col-md-3" id="sidebox">
        <div class="row" id="logobox" style="padding-top:10px">
            <img src="~/Images/LearnMVClogo.png" width="170" style="float:left" />
        </div>
        <div>
            @Html.Partial("_Sidebar", Model.SidebarVMList)
        </div>
    </div>
@*</div>*@ <!--END ROW-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>